@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: white;
	background: #1a1a1a;
}
.swiper {
	position: relative;
}
.swiper-button-prev {
	background-image: url(/nextOne.svg);
	background-repeat: no-repeat;
	background-position: center;
	top: 24px !important;
	left: 0 !important;
	background-color: transparent;
	transform: rotate(180deg);
	width: 44px !important;
}
.swiper-button-next {
	background-image: url(/nextOne.svg);
	z-index: 10;
	background-repeat: no-repeat;
	background-position: center;
	top: 78px !important;
	left: 0 !important;
	width: 44px !important;
}

.swiper-button-next::after {
	display: none;
	width: 30px;
	position: absolute;
}
.swiper-button-prev::after {
	display: none;
}
.swiper-pagination {
	background-color: #1a1a1a !important;
	width: 9px !important;
	height: full !important;
	border-radius: 100% !important;
	top: 124px !important;
	left: 18px !important;
}
.swiper-wrapper {
	left: 62px !important;
}
.swiper-pagination-progressbar-fill {
	background-color: white !important;
	border-radius: 64px !important;
	width: 11px !important;
}
:root {
	--swiper-navigation-size: 64px !important;
}
